.Rproj.user
.Rhistory
.RData
.Ruserdata
.rstudio/
.DS_Store
*/.DS_Store
cache/*
results/bootstrap.txt
sclerotinia-366.tar
doc/manuscript/diff*
doc/manuscript/*aux
doc/manuscript/*log
doc/manuscript/*out

